[submodule "data/locomo"]
	path = data/locomo
	url = https://github.com/snap-research/locomo.git
[submodule "tools/M-Agent-UI"]
    path = tools/M-Agent-UI
    url = https://github.com/changshengEVA/M-Agent-UI.git

[submodule "data/LongMemEval"]
	path = data/LongMemEval
	url = https://github.com/xiaowu0162/LongMemEval.git
	ignore = all
